<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <p class="title">Úřední deska Karviné</p>
    </header>
    <div class="container">
        <% for (obj of json) { %>
            <div class="card">
                <span class="card-odbor"><%= obj['odbor'] %></span>
                <div class="card-title">
                    <h2>▷ <%= obj['název'].cs %></h2>
                    <span>Od <%= obj['vyvěšení'].datum %> do <%= obj['relevantní_do'].datum %></span>
                </div>
                <div class="card-bottom">
                    <p class="typ"><%= obj['typ'][0] %>, <%= obj['typ'][1] %></p>

                    <a href="<%= obj['url'] %>" class="url">Přečti více...</a>
                </div>
            </div>
        <% } %>
    </div>
    <footer class="footer">
        <a href="/" class="active" disabled>Deska</a>
        <a href="/adresa" >Adresa</a>
        <a href="https://spsehavirov.cz/">SPŠE Havířov</a>
        <a href="/about">O mě</a>
    </footer>
</body>
</html>
